<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'wishlist/css/list.css' %}">
    <title>My Wish List</title>
</head>
<body>
    <a href="/logout" id="logout">logout</a>
    <h1>Hello, {{name}}!</h1>
    <p>Your Wish List:</p>
    <table id="user_list">            
        <th>Item</th>
        <th>Added by</th>
        <th>Date Added</th>
        <th>Action</th>

        {% for wish in wishes %}
        <tr>            
            <td><a href="/wish_items/{{wish.id}}">{{wish.item}}</a></td>
            <td>{{wish.uploder.username}}</td>
            <td>{{wish.add_by}}</td>
            {% if wish.uploder.username == name %}
                <td><a href="/delete/{{wish.id}}">Delete</a></td>
            {% endif %}
            {% if wish.uploder.username != name %}
                <td><a href="/remove/{{wish.id}}">Remove from my Wishlist</a></td>
            {% endif %}
        </tr>
        {% endfor %}  

    </table>

    <p>Other User's Wish List </p>
    <table> 
        <th>Item</th>
        <th>Added by</th>
        <th>Date Added</th>
        <th>Action</th>
        {% for wish in other_wishes %}
        <tr>
            <td><a href="/wish_items/{{wish.id}}">{{wish.item}}</a></td>
            <td>{{wish.uploder.username}}</td>
            <td>{{wish.add_by}}</td>
            <td><a href="/join/{{wish.id}}">Add to my Wishlist</a></td>

        </tr>
        {% endfor %}
    </table>
    <a href="/wish_items/create" id="add">Add Item</a>


</body>
</html>